* {
  background-color: bisque;
  font-family: "NEXON Lv1 Gothic OTF";
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  color: black;
}

/* 위로 */
.arrowBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;

  display: none;
  position: sticky;
  bottom: 20px;
  right: 10px;

  align-items: center;
  text-align: center;
  font-size: 16px;
}

/* 상세페이지영역 */

.detail-container {
  /* border: 3px solid green; */
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  place-content: center;
  height: auto;
  width: 1250px;
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: grid;
}

.blur {
  position: relative;
  background-size: cover;
  background-position: center;
  /* filter: blur(10px); */
  background-color: rgba(255, 255, 255, 0.164);
  z-index: 1;
  padding: 20px;
}

.blur-effect {
  position: absolute;
  background-size: contain;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px);
  z-index: 1;
  overflow: hidden;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  position: relative;
  background-color: transparent;
  z-index: 1;
  place-items: center;
}

#detail-poster {
  width: 520px;
  height: 680px;
  margin: 10px 60px 10px 60px;
  border-radius: 30px;
  border: 10px solid white;
  vertical-align: middle;
}

.rightpart {
  height: auto;
  /* margin-right: 50px; */
  background-color: rgba(255, 255, 255, 0.363);
  padding: 10px;
  margin: 10px;
  position: relative;
  z-index: 1;
  border-radius: 12px;
}

.rightpart p {
  background-color: transparent;
}

#detail-title {
  font-size: 45px;
  font-family: impact, Charcoal, sans-serif;
  margin-top: 10px;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
  height: auto;
  display: inline-block;
  /* background-color: rgba(255, 255, 255, 0.318); */
  border-radius: 15px;
  /* background-color: brown; */
}
.litleinfo {
  display: flex;
  background-color: transparent;
  height: 170px;
}

.movieinfo {
  font-family: "Orbit", sans-serif;
  font-size: 90%;
  font-weight: 700;
  height: 100px;
  background-color: transparent;
}

.movieclip {
  margin-top: 10px;
  display: flex;
  position: relative;
  margin-left: 40px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

#clip {
  
  margin: 1%;
  font-family: impact, Charcoal, sans-serif;
  writing-mode: vertical-lr;
  text-align: center;
  font-weight: 800;
}
#detail-poster2 {
  width: auto;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0px 13px 13px 0px;

  /* object-fit: cover; */
  /* border-radius: 30px;
  border: 5px solid white; */
}
#detail-overview {
  font-family: Arial, sans-serif;
  font-size: 100%;
  /* font-weight: bold; */
  height: 120px;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.488);
  border-radius: 15px;
  border: 2px solid white;
  padding: 15px;
}

#video-container {
  margin-top: 10px;
  display: flex;
  justify-content: left;
  width: 100%;
  background-color: transparent;
}
.cast-box {
  position: relative;
  z-index: 1;
  margin: 5px;
  background-color: transparent;
}
#cast {
  width: 50px;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 32px;
  font-weight: bold;
  background-color: transparent;
}
#cast-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-grow: 1;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.378);
  border-radius: 20px;
}
.actor {
  align-items: center;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.553);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  transition: scale 0.45s;
  display: flex;
  flex-direction: column;
  width: 160px;
}

.actor-image {
  width: 135px; 
  height: auto; 
  object-position: center;
  margin: 10px;
  border: 2px solid white;
  border-radius: 15px;
}
.actor a {
  background-color: transparent;
}

.actor-name,
.actor-character {
  background-color: transparent;
  text-align: center;
  font-size: 13.8px;
  font-weight: 500;
  margin: 0; /* 기본 마진 제거 */
  margin-bottom: 3px;
  width: 130px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;

}
.actor-character {
  margin-bottom: 20px;
}
.actor:hover {
  scale: 110%;
}
