#review-section {
  margin-top: 20px;
  background-color: orange;
}

#review-info{
  margin-bottom: 20px;
}

#textArea{
  margin-top: 20px;;
}

#review-form{
  text-align: right;
}

textarea{
  width: 90%;
  height: 200px;
  border: solid 4px;
  border-radius: 15px;
  margin-right: 50px;
}

.review-list{
  height: 200px;
  background-color: orange;
}