.modal-box {
  z-index: 200;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 50%;
  transform: translate(50%, 0%);
  width: 30vw;
  height: 20vh;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black !important;
  background-color: white;
  font-size: 20px;
}

.modal-box .message {
  background-color: white;
}

.modal-box .check-btn {
  border-radius: 5px;
  background-color: #e7344e;
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 15px;
  width: 60px;
  height: 30px;
}

