* {
  background-color: bisque;
  font-family: "NEXON Lv1 Gothic OTF";
  /* font-weight: bold; */
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  color: black;
}

/* 영화목록들 */
#movie-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
  width: 300px;
  text-align: center;
  font-family: "Jersey 15", sans-serif;
  font-weight: 150;
  font-style: normal;
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.3);
  transition: scale 0.45s;
  background-color: rgb(105, 187, 168);
}
.card:hover {
  scale: 107%;
  color: #fff;
}

img {
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.card h1 {
  font-family: impact, Charcoal, sans-serif;
  letter-spacing: 0.6px;
  font-size: 23px;
  background-color: transparent;
}

.card p {
  font-size: 17px;
  background-color: transparent;
  /* font-weight: bold; */
}

/* 위로 */
.arrowBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;

  display: flex;
  position: fixed;
  bottom: 30px;
  right: 10px;

  align-items: center;
  text-align: center;
  font-size: 16px;
}
